:root {
	--bluecolou: #f5fafd;
	--color-general: #66615b;
--color_títulos: #111111; 
--color-iconos-naranja: #f5593d;
--color-iconos-gris: #888;
--fondo-footer: #252422;
--letra-footer: #fff;
}


@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
	  "wdth" 100;}



.dosis {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}



p {
	
	font-family: "Roboto", sans-serif;
}

h1,h2,h3 {
color: var(--color_títulos);
	font-family: "Dosis", sans-serif;
}





#hero {
	
	background-image: linear-gradient(to right, #f5593d, #c94265);
	
	padding: 20%;
	color: #fff;
}

#hero h1, p {
	
	color: #fff;
	
}


#features {
	padding: 10%;
	color: var(--color-general);
}

.featurees p {
	color: var(--color-general) ;
}

#Features {
	padding: 10%;
}

#About {
	padding: 10%;
	color: #fff 
}

#screenshots{
	background-color: var(--bluecolou) ;
	padding: 10%;
	text-align: center;
}

#Screenshotstestimonials {
	padding: 10%;
	
}


.aligntextcenter {text-align: center;
padding: 4%;
}



#download {
	color: var(--color-iconos-gris);
	background-image: linear-gradient(to right, var(--color-iconos-naranja), #c94265);
	padding: 30%;
}
#download h2 {color: #fff;
	padding: 10%;
}


footer {
	background-color: var(--fondo-footer);
	color: #fff;
	padding: 10%;
	text-align: center;
}



.btn {

	border:solid !important;
	border-color: #fff !important;
	color: #fff !important;
	border-radius: 100px;
}


.donloadapp {
	background-color: #fff;
	border-radius: 20px;
}

.fa-android {
	font-size: 50px;
}


i {
	font-size: 40px;
	color: var(--color-iconos-naranja);

	
}


.rounderimage {
	border-radius: 300px;
}


.testimonalcolour {
	background-color: var(--bluecolou);
	padding: 5%;
	border-radius: 10%;
}
#About p {color: #000000}

.descriptionsection {
	padding: 10% 10% 4% 4%;
	text-align: center
}

.overideimgcolor{
	color: var(--color-iconos-gris);
}
.paddingdownload {
	color: var(--color-iconos-gris);
	padding: 10%;
}
